---
interface Props {
  class?: string;
  "data-animate"?: string | boolean;
}
const { class: className, ...rest } = Astro.props;
---

<h2 class:list={["section-title", className]} {...rest}>
  <slot />
</h2>
